<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Now We're Walking</title>
  <link rel="stylesheet" href="./styles.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>  
  <div id="app4" class="app">
    <button @click="counter += 1">Add 1</button>
    <p>The button has been clicked {{ counter }} times.</p>
    <div>
      <button @click="greet">Greet</button>
    </div><br>
    <div>
      <button @click="say('hi')">Say hi</button>
      <button @click="say('what')">Say what</button>
    </div><br>
    <div>
      <button @click="warn('Form cannot be submitted yet.', $event)">Submit</button>
    </div><br>
    <div class="clickable" @click.capture="zero($event)" @click.self="soAlone($event)">
      <button name="multi-event" @click="one($event), two($event)">Submit Multiple Events</button>
    </div><br>
    <div>
      <input type="text" @keyup.enter="onEnter($event)">
      You have hit enter in this textbox {{ enterCount }} times.
    </div>
  </div>
  <div id="app3" class="app">
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>
    <template v-if="ok">
      <h1>Titulo</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>
    <div v-if="Math.random() > 0.5">
      Now you see me
    </div>
    <div v-else>
      Now you don't
    </div><br>
    Type: 
    <div v-if="type === 'A'">A</div>
    <div v-else-if="type === 'B'">B</div>
    <div v-else-if="type === 'C'">C</div>
    <div v-else>Not A/B/C</div>
    <h3 v-show="show">Hiya buddy</h3>
    <ul id="array-rendering">
      <li v-for="item in items">
        {{ item.message }}
      </li>
    </ul>
    <ul id="array-with-index">
      <li v-for="(item, index) of items" :key="item.id">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>
    <ul id="v-for-object">
      <li v-for="(prop, name, index) in listicle">
        {{ index + 1 }}. {{ name }}: {{ prop }}
      </li>
    </ul>
    <ul>
      <li v-for="num in evenNumbers" :key="num">
        {{ num }}
      </li>
    </ul>
    <ul>
      <li v-for="num in odd(numbers)" :key="num">
        {{ num }}
      </li>
    </ul>
    <div>
      <span v-for="n in 10" :key="n">{{ n }}</span>
    </div>
    <ul>
      <template v-for="item in items" :key="item.id">
        <li> {{ item.message }}</li>
        <li class="divider" role="presentation"></li>
      </template>
    </ul>
  </div>
  <div id="app2" class="app">
    <p>
      Has published books: <br>
      <span>{{ publishedBooksMessage }}</span>
    </p>
    <button @click="updateMe">Re-render this component</button>
    <div>Now: {{ now }}</div>
    <div>Now now: {{ getDateNow() }}</div><br>
    <label for="fullName">Enter your name: </label><input v-model="fullName" type="text" name="fullName">
    <div>Your name: {{ fullName }}</div> <br>
    <div id="watch-example">
      <p>
        Ask a yes/no question:
        <input v-model="question" />
      </p>
      <p>{{ answer }}</p>
    </div>
    <div 
      class="static" 
      :class="checkersClass">
      Healthy? <input type="checkbox" v-model="isHealthy"><br>
      Error? <input type="checkbox" v-model="error.on"> Type: <input type="text" v-model="error.type">
    </div><br>
    <div :class="[ { healthy: isHealthy }, errorClass]">classes du moi</div>
    <div :style="styledText">I am so styled</div>
  </div>
  <div id="app1" class="app">
    <span>Message: {{ msg }} {{ count }}</span> <br>
    <span>Message: {{ msg }} {{ count + 1 }}</span> <br>
    <span>Message: {{ msg }} {{ count }}</span> <br>
    <span>Message: {{ msg.split('').reverse().join('') }}</span> <br>
    <span v-once>This will never change: {{ msg }} {{ count }}</span> <br>
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    <div v-bind:id="dynamicId">Hello</div><br>
    <button v-bind:disabled="isButtonDisabled">Button</button><input type="checkbox" v-model="isButtonDisabled">Disable Me</input><br>
    <span>Button is {{ isButtonDisabled ? 'disabled' : 'enabled' }}.</span><br><br>
    <span>Choose your search engine:</span><br>
    <input type="radio" name="search" id="google" value="https://google.com/" v-model="linkUrl"><label for="google">Google</label><br>
    <input type="radio" name="search" id="bing" value="https://bing.com/" v-model="linkUrl"><label for="bing">Bing</label><br>
    <input type="radio" name="search" id="ddg" value="https://duckduckgo.com/" v-model="linkUrl"><label for="ddg">DuckDuckGo</label><br>
    <div v-if="linkUrl"><a target="_blank" :href="linkUrl" @click="doSomething">Go to search engine: {{ linkUrl }}</a></div>
    <div><p>Score is {{ count }}</p> <button @click="debouncedClick">Upvote &#11014; SLOWLY</button></div><br>
    <div><span :title="toTitleDate(date)">{{ formatDate(date) }}</span></div>
  </div>

  <script src="./app.js"></script>
</body>
</html>