.app {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
  font-family: sans-serif;
}

div.healthy {
  color: green;
}

div.text-danger::after {
  content: "⚠";
  color: red;
  font-weight: bold;
}

li.divider::marker {
  color: rgba(0,0,0,0);
}

div.clickable {
  border: 1px solid red;
  border-radius: 4px;
  padding: 2px;
}